{% trans_default_domain 'FOSUserBundle' %}

<div class="content">

    {% if invalid_username is defined %}
        <div class="ui negative message">
            <p class="content">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        </div>
    {% endif %}

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="ui form">
        <div class="field">
            <label for="username">{{ 'resetting.request.username'|trans }}</label>
            <input type="text" id="username" name="username" required="required" />
        </div>

        <input class="ui positive button" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
        <a class="ui basic button" href="{{ path('fos_user_security_login') }}">{% trans %}Return to Login{% endtrans %}</a>
    </form>
</div>